@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent1: #367cff;
  --accent1-hover: #1a6aff;
  --text-light: #bfbfbf;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b2329;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 34px;
  font-weight: 600;
}

h2 {
  font-size: 28px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}

*:focus {
  outline: none;
}

input {
  border-radius: 5px;
  line-height: 38px;
  color: rgb(24, 24, 24);
  padding-left: 5px;
  background-color: #fff;
}

button {
  background-color: var(--accent1);
  border-radius: 8px;
  padding: 4px 16px;
  font-size: 18px;
}

button:hover {
  background-color: var(--accent1-hover);
}

.subtle-text {
  color: var(--text-light)
}

a {
  color: var(--accent1);
  font-weight: 500;
}

a:hover {
  color: var(--accent1-hover);
}